<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="onet.com.index.dao.IndexDao">

<insert id="insertMember" parameterType="onet.com.vo.MemberDto">
		insert into member(member_id, member_pwd, member_email, member_name, member_phone, class_name, member_enable)
		values(#{member_id}, #{member_pwd}, #{member_email}, #{member_name}, #{member_phone}, #{class_name}, 1);
		insert into member_role(role_code, member_id) values('ROLE_MEMBER', #{member_id});
</insert>

<select id="joinCheckId" resultType="String">
	select member_id from member where member_id = #{member_id}
</select>

<select id="idSearch" parameterType="onet.com.vo.MemberDto" resultType="String">
	select member_id from member where member_name = #{member_name} and member_email=#{member_email}
</select>

<select id="classList" resultType="onet.com.vo.ClassDto">
	select class_name from class
</select>

<update id="pwdSearch" parameterType="onet.com.vo.MemberDto"> 
	update member set member_pwd = #{member_pwd} where member_id = #{member_id} and member_email = #{member_email} 
</update>

</mapper>
