@charset "UTF-8";

.loadingDiv {
    position: fixed;
    background: rgba(0,0,0,0.1); /*not in ie */
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 22% 17.5% 18% 28%;
    opacity: 0.8;
    z-index: 99999999;
}

.loadingImg {
	/* position: absolute;
	left: 50%;
	top: 50%; */
	width: 130px;
}

.loadingDisplay {
	display: none;
}