@charset "UTF-8";
#totalCheckbox 
        {
            height: -10px;
            vertical-align:text-top
        }
        #totalCheckLabel
        {
            font-size:1.2em;
        }
        .myQuestionImg{
        
           max-width:220px;
           max-height: 150px;
        }
        
        .myQuestionSelectCategory {
            width: 11%;
            margin-bottom: 5px;
            display: inline-block;
        }
        
        .myQuestionSelectCategory2{
            width: 20%;
            margin-right: 5px;
            margin-bottom: 5px;
            display: inline-block;
        }
        
        .myQuestionFont{
            font-size: 15px;
        }
        
        .myQuestionSelectBtn {
            width: 10%;
        }
        
        .myQuestionDiv { 
            margin-bottom: 30px;
        }
        
        
        #h3id{
            text-align: center;
        }
        
        #myQuestionPanel{
            height: 553px;
            overflow-x: hidden;
            overflow-y: scroll;
        }
        .myQuestionCheck{
            padding-left: 30px;
        }
        .hr{
            width:98%;
        }
        .btnDeIn{
        	 width:15%;
      		display: inline-block;
      		margin-top:20px;
        }
        
        
        
        .myQuestionCategory{
            background: #eaeaea;
            font-size:14px;
        }
        .hrRow{
            margin-top: -20px;
        }
        .btnUpDe{
            margin-top: 60px;
        }
        #viewAll{
        	margin-left: 10px;
        	}
        #keyword{
        	margin-right: 10px;
        	width:21%;
        }
        
        #updateMyQuestionBtn{
        margin-top: 25px;
        
        }
        
        #deleteMyQuestionBtn{
        margin-top: 10px;
        
        }
        #choiceCount{
        margin-top: 10px;
        }
        .warning_text{
        	font-size:14px;
        	color:red;
        	margin-top:10px;
        	margin-left:5px;
        	margin-right:10px;
        	margin-bottom:10px;
        }
        .questionImg{
        	display:block;
        	margin-left:auto;
        	margin-right: auto;
        	max-width:80%;
        	max-height:350px;
        }
        .choiceImg{
        	display:block;
        	margin-left:auto;
        	margin-right: auto;
        	max-width:80%;
        	max-height:200px;
        }
        
        .QCdiv{
        	min-height:50px;
        	margin-bottom:10px;
        }
        
	/*회준*/
	.form-control-inline {
      width:80%;
      height: 34px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      color: #555;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
              box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
      -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
           -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
              transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
    .imageup{
      width:30%;
    }
    .quesCategory{
      width:15%;
      display: inline-block;
    }
    .quesCategorybig{
      width:25%;
      display: inline-block;
    }
    
    .makeQuestionCate {
    	width:20%;
    	margin-bottom: 5px;
    	display:inline-block;
    }
    
    .updateQuestionSelectCategory {
    	width:20%;
    	display:inline-block;
    }
    
    .btn_question_image{
    	float:right;
    	margin-top:5px;
    }
    
    .emptydata{
	height:300px;
	text-align:center;
	padding: 20% 0%;
	
	}
	.img-empty{
		width:10%;
	}

    