@charset "UTF-8";
/* 상단 이름 및 검색 테이블 */
.title_table {
	margin:0 auto;
	width: 80%;
}

.title_table_fst_td {
	width: 70%;
}
#student_name {
	text-align: center;
	font-size:60px;
	font-weight:bold;
	margin-top: 25px;
}
.title_table_scd_td {
	width: 30%;
	text-align: center;
	vertical-align: bottom;
}
#search_input{
	width:150px;
	display: inline-block;
	
}

/* 하단 지난시험보기 테이블 */
.last_exam_div {
	overflow: auto;
	padding-bottom: 60px;
	padding-top: 30px;
}

#last_exam_table {
	width: 80%;
	height: 150px;
	margin: 0 auto;
}

.exam_line {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.examtitle_td {
	width: 40%;
}

.exam_img {
	width: 240px;
	height: 130px;
}

.examinfo_td {
	width: 40%;
	text-align: center;
}

.btn_td {
	width: 20%;
	text-align: center;
}

/* 현이 */
#search_btn {
	margin-bottom: 5px;
}

.pastExamTd {
	text-align: center;
	padding-top: 25px;
    padding-bottom: 30px;
}

.search_box {
	text-align: right;
	margin-right: 20px;
}

.pastExamTd h3 {
	margin-top: 10px;
}  

#last_exam_table h3 {
	text-align: center;
}